<p>Welcome to Reddit Clone!</p>

<% unless @links.empty? %>
	<table>
	<% @links.each do |link| %>
	  <tr>
	    <td><%= link_to link.title, link.full_url %></td>
	    <td><%= "(#{link.clean_url})" %></td>
	    <td><%= "by #{link.user.email}" %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	No links yet!
<% end %>

<p id="notice"><%= notice %></p>